# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Production Caches
.next/cache/

# Optional eslint cache
.eslintcache

# Optional Prettier cache
.prettiercache

# Optional SvelteKit cache
.svelte-kit/

# Optional MFL (Micro-Frontends League) cache
.mf_cache/

# Testing
/coverage
/.nyc_output

# Environment Variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Yarn
yarn-error.log
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# pnpm
pnpm-lock.yaml
pnpm-debug.log

# Deno
deno.lock

# Misc
.npm
/.cache
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
